<%= form_for @creature do |creature| %>
<div class="container">
<label>Creature Name</label>
<%= creature.text_field :name %>
<label>Creature Description</label>
<%= creature.text_area :description, size:"60x4"  %>
<%= creature.submit "SaveCreature" , class:"btn btn-secondary"%>
<% end %>
</div>
