<h1>Creatures in the Bog</h1>
<% @creatures.each do |creature| %>
   <p>
     <strong>Name:</strong> <%= creature.name %><br>
     <strong>Description:</strong> <%= creature.description %>
   </p>
   <%= link_to creature.name, creature_path(creature),class: "btn btn-small btn-primary" %>
<% end %>
